@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Yeison Ruiz Duarte<br />
    Itagui-Antioquia<br />
    <abbr title="Phone">P: </abbr>
    3104643777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ramapage23@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">yruiz.tecnomedios@gmail.com</a>
</address>