@{
    ViewBag.Title = "Home Page";
}

<div></div>
<div class="container-index">
    <h1 class="text-center">Welcome to LatinChat</h1>
    <br />
    <p class="lead">Please write your nick </p>
    <input type="text" id="nick" name="nick" class="form-control input-lg" placeholder="Nick...">
    <br>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Start Chat &raquo;</a></p>
</div>

